name: Android Build

on:
  push:
    branches:
      - sdk29-splash

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up JDK 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'

      - name: Set up Android SDK
        uses: reactivecircus/android-sdk@v2
        with:
          api-level: 29
          build-tools: 29.0.2

      - name: Build Debug APK
        run: ./gradlew assembleDebug

      - name: Upload APK as artifact
        uses: actions/upload-artifact@v2
        with:
          name: app-debug.apk
          path: app/build/outputs/apk/debug/app-debug.apk
