name: Mupen64Plus-AE Debug

on: [push, pull_request]

jobs:
  build-debug:
    runs-on: ubuntu-latest

    steps:
    - uses: android-actions/setup-android@v3
      with:
        cmdline-tools-version: 9477386

    - uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'adopt'

    - name: Set up environment variables
      run: |
        echo "ANDROID_NDK_HOME=$ANDROID_NDK_HOME" >> $GITHUB_ENV
        echo "ANDROID_SDK_ROOT=$ANDROID_HOME" >> $GITHUB_ENV

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Decode debug keystore
      env:
        DEBUG_KEYSTORE: ${{ secrets.DEBUG_KEYSTORE }}
      run: |
        if [ -n "$DEBUG_KEYSTORE" ]; then
          echo $DEBUG_KEYSTORE > debug.keystore.base64
          base64 --decode debug.keystore.base64 > debug.keystore
          sudo cp -f debug.keystore $HOME/.android/.
        fi

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends file gawk

    - name: Build debug APK
      run: ./gradlew assembleDebug

    - name: Upload debug APK
      uses: actions/upload-artifact@v4
      with:
        name: mupen64plus-ae-debug
        path: ${{ github.workspace }}/app/build/outputs/apk/debug/Mupen64PlusAE-debug.apk
