name: Mupen64Plus-AE Release

on: [push, pull_request]

jobs:
  build-release:
    runs-on: ubuntu-latest

    steps:
    - uses: android-actions/setup-android@v3
      with:
        cmdline-tools-version: 9477386

    - uses: actions/setup-java@v4
      with:
        java-version: 21
        distribution: 'adopt'

    - name: Set up environment variables
      run: |
        echo "ANDROID_NDK_HOME=$ANDROID_NDK_HOME" >> $GITHUB_ENV
        echo "ANDROID_SDK_ROOT=$ANDROID_HOME" >> $GITHUB_ENV

    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y --no-install-recommends file gawk

    - name: Build release APK (sem keystore)
      run: ./gradlew assembleRelease

    - name: Upload release APK
      uses: actions/upload-artifact@v4
      with:
        name: mupen64plus-ae-release
        path: ${{ github.workspace }}/app/build/outputs/apk/release/Mupen64PlusAE-release.apk
